/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 9, 2016, 1:14:52 AM
    Author     : rvtru
*/

#page-wrap {
     
   
}

body {

 }

#page-wrap {
  text-align: left;

 
  padding: 100px 50px 100px 50px;
}
